@import "./internship_variable.scss";

body {
  background-color: $color-secondary-5;
  font-size: $h5;
  color: $font-color-6;
}

.btn-main {
  border: 1px solid $color-main;
  &:hover {
    background-color: $color-main;
    color: $font-color-3;
  }
}
.mainBgColor {
  background-color: $color-main;
}
.md-form {
  .mainFontColor {
    color: $color-secondary-4;
  }
}
.mainFontColor {
  color: $color-main;
}
.secondaryFontColor{
  color: $font-color-5;
}
.headerLink {
  color: rgba(#eceff1, 0.7);
  &:hover {
    color: rgba($font-color-3, 1);
  }
}
